.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  padding-top: 50px;
}
.start {
  justify-content: center;
}
.history {
  justify-content: space-between;
}
