.Textarea {
  width: 600px;
  height: 150px;
  resize: none;
  padding: 20px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 20px;
  outline: none;
}
.Textarea:focus::placeholder {
  color: transparent;
}