.Textarea {
  width: 600px;
  height: 150px;
  min-height: 150px;
  resize: none;
  padding: 20px;
  margin-top: 30px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 20px;
  outline: none;
}
