.Element {
  display: flex;
  align-items: flex-start;
  position: relative;
  width: 650px;
}
.Element label {
  margin-right: 10px;
  width: 100px;
  text-align: end;
}
.Element textarea {
  width: 500px;
  height: 30px;
  padding: 5px 15px;
  margin-right: 20px;
  outline: none;
  resize: none;
}